    <!-- body -->
    <div class="container full-height">
    
        <div class="spacer"></div>

        <h2>About me</h2>

        <hr>

        <!-- row 2: about -->
        <div class="row">
            <div class="col-sm-4 col-md-3"><img ng-src="{{aboutImg.image}}" alt="" class="img-responsive hidden-xs"></div>
            <div class="col-sm-8 col-md-9">
                <blockquote><p><i class="fa fa-quote-left fa-lg pull-left"></i> <span class="large pink">Geraldine Carlos</span> is a Marketing Graduate by profession. After spending 6 years in the corporate world, she got her interest in <span class="large pink">Makeup</span> when a friend approached her to do some makeup in a pageant. Decided to pursue it and became her <span class="large pink">passion</span>. She graduated in one of the top Makeup schools in the Philippines, the <strong>Center for Aesthetic Studies (CAS)</strong>. Her passion lead her to work and was trained as a <span class="large pink">Professional Makeup Artist</span> in one of the prestigious cosmetic brands such as <strong>LAURA MERCIER, THE MAKEUP STORE and MAC Cosmetics</strong>. With her experience and achievements, she is now currently working in <strong>REVLON Cosmetics</strong> as Brand Trainer. She conducts various trainings and seminars on their products to different places in the Philippines.</p>

                <p>She works in all genres of make-up including the ultra-natural, the sophisticated, and the glamorous, yet she approaches each make-up as a unique study of the face, accentuating the natural qualities of each individual, while masking imperfections. Clients especially appreciate her soft, natural base, creating a look of freshness and light, and her original technique. <i class="fa fa-quote-right fa-lg"></i></p></blockquote>
            </div>
        </div>
        <!-- end row 2 -->

        <!-- row 3: buttons -->
        <div class="row visible-xs">
            <div class="col-xs-6"><a href="#/portfolio" class="btn btn-info btn-block"><span class="glyphicon glyphicon-camera"></span> View my creations</a></div>
            <div class="col-xs-6"><a href="#/video" class="btn btn-info btn-block"><span class="glyphicon glyphicon-film"></span> Watch features</a></div>
        </div>
        <!-- end row 3 -->

    </div>
    <!-- end body -->
    <my-footer></my-footer>