    <div class="spacer"></div>
    <!-- body section -->
    <div class="container full-height">

        <h1>{{header}}</h1>

        <br />

        <div class="row" ng-show="header === 'Portfolio'" resize>
                
            <button class="btn btn-default btn-block visible-xs" ng-click="isCollapsed = !isCollapsed">GALLERY <span class="glyphicon glyphicon-chevron-down"></span></button>

            <div collapse="isCollapsed">

                <tabset justified="true">
                    <tab ng-repeat="category in tabset" heading="{{category}}" ng-click="imageSet(category)"></tab>
                </tabset>

            </div>

        </div>

        <br />

        <!-- row 2: gallery -->
        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-6 col-sm-3 padding-narrow" ng-repeat="image in pageImages">
                    <a href="" ng-click="open($index, 'lg')">
                        <img class="img-responsive" ng-src="{{image.image}}">
                    </a>
                </div>

            </div>

            <hr>

            <div class="row row-centered">

                <div class="col-xs-12">

                    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>

                </div>

            </div>

        </div>
        <!-- end row 2 -->

        <hr>

    </div>
    <!-- end container -->
    <my-footer></my-footer>